h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    border-radius: 10px;
}
form{
    padding-right: 10%;
    padding-left: 10%;
}

p{
    
font-size:35px;
font-family:Impact, Haettenschweile, 'Arial Narrow Bold', "sans-serif";
}